<!DOCTYPE html>
<html lang="en">
{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

<p class="text-center"><a href="#" class="btn btn-primary btn-lg">Nouveau onglet</a></p>

<nav>

  <div class="nav nav-tabs" id="nav-tab" role="tablist">

  {% for key,values in dico.items %} 
    {% if values.num == 0 %}
        <a class="nav-item nav-link active" id="nav-{{ key.id}}-tab" data-toggle="tab" href="#nav-{{ key.id}}" role="tab" aria-controls="nav-{{ key.id}}" aria-selected="true">{{key.nom}}</a>
    {% else %}   
        <a class="nav-item nav-link" id="nav-{{ key.id}}-tab" data-toggle="tab" href="#nav-{{ key.id}}" role="tab" aria-controls="nav-{{ key.id}}" aria-selected="true">{{key.nom}}</a>
    {% endif %}
  {% endfor %} 
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  {% for key,values in dico.items %} 
    {% if values.num == 0 %}
      <div class="tab-pane fade show active" id="nav-{{ key.id}}" role="tabpanel" aria-labelledby="nav-{{ key.id}}-tab">
    {% else %}
      <div class="tab-pane fade" id="nav-{{ key.id}}" role="tabpanel" aria-labelledby="nav-{{ key.id}}-tab">
    {% endif %}

        <p class="text-center"><a href="#" class="btn btn-primary btn-lg">Modifier onglet</a>
          <a href="#" class="btn btn-danger btn-lg">Nouveau dossier</a>
          <a href="#" class="btn btn-success btn-lg">Nouveau lien</a>
        </p>


        {% for dossier in values.dossiers %}

          <div class="card" style="width: 10rem;">
            <h5 class="card-title text-center">{{dossier.nom}}</h5>
            <a href="{% url 'dossier' key.id dossier.id %}"><img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/19/01/44/folder-1837607_960_720.png" alt="Card image cap"></a>
            <div class="card-body">
              <p class="card-text text-center"> {{dossier.info}}</p>
              <p class=text-center><a href="#" class="btn btn-primary" >Modifier</a></p>
            </div>
          </div>
        {% endfor %}

        {% for lien in values.liens %}
          <div class="card" style="width: 10rem;">
            <a href="{{lien.lien_url}}"> <img class="card-img-top" src="https://api.miniature.io/?token=Ydn9tkyG8uwPotWP&url={{lien.lien_url}}" alt="Card image cap"></a>  
            <div class="card-body">
              <p class="card-text">{{lien.info}}</p>
              <p class=text-center><a href="#" class="btn btn-primary" >Modifier</a></p>
            </div>
          </div>
        {% endfor %}
      </div>
  {% endfor %}
</div>


  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

