{% extends "base.html" %}
<!--  -->
{% block content %}
</br>
<p class="text-center"><a href="{% url 'ongletajout' %}" class="btn btn-primary btn-lg">Nouveau onglet</a></p>

</br>
{% if i == 0 %}
<p class="text-center"><img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/few_off/sian-fkp-37/overview/SIAN_FKP_37_01-overview2_M.jpg">
    </p>
    {% else %}  
<nav>

  <div class="nav nav-tabs" id="nav-tab" role="tablist">

  {% for key,values in dico.items %} 
    {% if values.num == 0 %}
        <a class="nav-item nav-link active" id="nav-{{ key.id}}-tab" data-toggle="tab" href="#nav-{{ key.id}}" role="tab" aria-controls="nav-{{ key.id}}" aria-selected="true">{{key.nom}}</a>
    {% else %}   
        <a class="nav-item nav-link" id="nav-{{ key.id}}-tab" data-toggle="tab" href="#nav-{{ key.id}}" role="tab" aria-controls="nav-{{ key.id}}" aria-selected="true">{{key.nom}}</a>
    {% endif %}
  {% endfor %} 
  </div>
</nav>

<div class="tab-content" id="nav-tabContent">
  {% for key,values in dico.items %} 
    {% if values.num == 0 %}
      <div class="tab-pane fade show active" id="nav-{{ key.id}}" role="tabpanel" aria-labelledby="nav-{{ key.id}}-tab">
    {% else %}
      <div class="tab-pane fade" id="nav-{{ key.id}}" role="tabpanel" aria-labelledby="nav-{{ key.id}}-tab">
    {% endif %}

</br>
        <p class="text-center"><a href="{% url 'updatedeleteonglet' key.id %}" class="btn btn-primary btn-lg">Modifier onglet</a>
          <a href="{% url 'ongletajoutdossier' key.id %}" class="btn btn-success btn-lg">Nouveau dossier</a>
          <a href="{% url 'ongletajoutlien' key.id %}" class="btn btn-success btn-lg">Nouveau lien</a>
        </p>

<div class="container cbox">
<div class="row">
        {% for dossier in values.dossiers %}
<div class="col-sm-2 mt-2 dbox">
          <div class="card" style="width: 10rem;">
            <h5 class="card-title text-center">{{dossier.nom}}</h5>
            <a href="{% url 'dossier' key.id dossier.id %}"><img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/19/01/44/folder-1837607_960_720.png" alt="Card image cap"></a>
            <div class="card-body">
              <p class="card-text text-center"> {{dossier.info}}</p>
              <p class=text-center><a href="{% url 'updatedossier' key.id dossier.id %}" class="btn btn-primary" >Modifier</a></p>
            </div>
          </div>
</div>
{% endfor %}
</div>
</div>
</br>

<div class="container cbox">
<div class="row">
        {% for lien in values.liens %}
      <div class="col-sm-2 mt-2 dbox">
          <div class="card" style="width: 10rem;">
            <a href="https://{{lien.lien_url}}"> <img class="card-img-top" src="https://api.miniature.io/?token=Ydn9tkyG8uwPotWP&url=https://{{lien.lien_url}}" alt="Card image cap"></a>  
            <div class="card-body">
              <p class="card-text">{{lien.info}}</p>
              <p class=text-center><a href="{% url 'updatedeleteongletlien' key.id lien.id %}" class="btn btn-primary" >Modifier</a></p>
            </div>
          </div>
</div>
{% endfor %}
</div>
</div>
      </div>
  {% endfor %}
</div>

{% endif %}

{% endblock %}

