{% extends "base.html" %}
<!--  -->
{% block content %}


</br>
  <p class="text-center">
    <a href="{% url 'ongletajout' %}" class="btn btn-success btn-lg">Nouveau Onglet</a>
    <a href="{% url 'updatedeleteonglet' idOnglet %}" class="btn btn-primary btn-lg">Modifier Onglet</a></p>

<ul class="nav nav-tabs">
    {% for onglet in onglets %} 
  <li class="nav-item">
    {% if onglet.id == idOnglet %}
        <a class="nav-link active" href="{% url 'onglet' onglet.id %}">{{onglet.nom}}</a>
    {% else %}
        <a class="nav-link" href="{% url 'onglet' onglet.id %}">{{onglet.nom}}</a>
    {% endif %}
  </li>
  {% endfor %}
  
</ul>
</br>
  <p class="text-center">
    <a href="{% url 'ongletajoutdossier' idOnglet %}" class="btn btn-success btn-lg">Nouveau Dossier</a>
    <a href="{% url 'ongletajoutlien' idOnglet %}" class="btn btn-success btn-lg">Nouveau Lien</a></p>

{% if taille == 0 %}
<p class="text-center"><img src="https://www.lamborghini.com/sites/it-en/files/DAM/lamborghini/facelift_2019/model_detail/few_off/sian-fkp-37/overview/SIAN_FKP_37_01-overview2_M.jpg">
    </p>
    {% else %}

<div class="container cbox">
<div class="row">
{% for dossier in tabDossiers %}

<div class="col-sm-2 mt-2 dbox">

    <div class="card" style="width: 10rem;">
    <h5 class="card-title text-center">{{dossier.nom}}</h5>
    <a href="{% url 'dossier' currentOnglet.id dossier.id %}"> <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/19/01/44/folder-1837607_960_720.png" alt="Card image cap">
    </a>  
      <div class="card-body">
        <p class="card-text">{{dossier.info}}</p>
        <p class=text-center><a href="{% url 'updatedeletedossier' idOnglet dossier.id %}" class="btn btn-primary" >Modifier</a></p>
      </div>
    </div>

</div>

{% endfor %}
</div>
</div>

</br>

<div class="container cbox">
<div class="row">

{% for lien in tabLiens %}

<div class="col-sm-2 dbox">
<div class="card" style="width: 10rem;">
<a href="https://{{lien.lien_url}}"> <img class="card-img-top" src="https://api.miniature.io/?token=Ydn9tkyG8uwPotWP&url=https://{{lien.lien_url}}" alt="Card image cap">
</a>  
  <div class="card-body">
    <p class="card-text">{{lien.info}}</p>
    <p class=text-center><a href="{% url 'updatedeleteongletlien' idOnglet lien.id %}" class="btn btn-primary" >Modifier</a></p>
  </div>
</div>
</div>

{% endfor %}
</div>
</div>
{% endif %}
  

{% endblock %}