<div class="tab-content" id="nav-tabContent">
  {% for key,values in dico.items %} 
    {% if values.num == 0 %}
            
      <p class="text-center"><a href="#" class="btn btn-primary btn-lg">Modifier onglet</a>
        <a href="#" class="btn btn-danger btn-lg">Nouveau dossier</a>
        <a href="#" class="btn btn-success btn-lg">Nouveau lien</a>
      </p>

      <div class="tab-pane fade show active" id="nav-{{ key.nom.split|join:"_" }}" role="tabpanel" aria-labelledby="nav-{{ key.nom.split|join:"_" }}-tab">{% for dossier in values.dossiers %}

        <div class="card" style="width: 10rem;">
          <h5 class="card-title text-center">{{dossier.nom}}</h5>
          <a href="{% url 'dossier' key.id dossier.id %}"><img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/19/01/44/folder-1837607_960_720.png" alt="Card image cap">
          </a>
          <div class="card-body">
            <p class="card-text text-center"> {{dossier.info}}</p>
            <p class=text-center><a href="#" class="btn btn-primary" >Modifier</a></p>
          </div>
      </div>

  {% endfor %}

  {% for lien in values.liens %}
    <div class="card" style="width: 10rem;">
    <a href="{{lien.lien_url}}"> <img class="card-img-top" src="https://api.miniature.io/?token=Ydn9tkyG8uwPotWP&url={{lien.lien_url}}" alt="Card image cap"></a>  
    <div class="card-body">
      <p class="card-text">{{lien.info}}</p>
      <p class=text-center><a href="#" class="btn btn-primary" >Modifier</a></p>
    </div>
</div>
{% endfor %}
</div>


        {% else %}
            <div class="tab-pane fade" id="nav-{{ key.nom.split|join:"_" }}" role="tabpanel" aria-labelledby="nav-{{ key.nom.split|join:"_" }}-tab">{% for dossier in values.dossiers %}


<div class="card" style="width: 10rem;">
<h5 class="card-title text-center">{{dossier.nom}}</h5>
  <a href="{% url 'dossier' key.id dossier.id %}" ><img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/11/19/01/44/folder-1837607_960_720.png" alt="Card image cap"> </a>
  <div class="card-body">
    <p class="card-text text-center"> {{dossier.info}}</p>
    <p class=text-center><a href="#" class="btn btn-primary" >Modifier</a></p>
  </div>
</div>

{% endfor %}
{% for lien in values.liens %}
<div class="card" style="width: 10rem;">
<a href="{{lien.lien_url}}"> <img class="card-img-top" src="https://api.miniature.io/?token=Ydn9tkyG8uwPotWP&url={{lien.lien_url}}" alt="Card image cap">
</a>  
  <div class="card-body">
    <p class="card-text">{{lien.info}}</p>
    <p class=text-center><a href="#" class="btn btn-primary" >Modifier</a></p>
  </div>
</div>
{% endfor %}
</div>
        {% endif %}
   {% endfor %}
</div>