{% extends "base.html" %}
<!--  -->
{% block content %}

</br>

<div class="col-md-6 ml-4">
    <div class="card">
  <div class="card-header">
    <h2 class="text-center"> {{dossier.nom}}</h2>
  </div>
  <div class="card-body">
    
    <p class=text-center><a href="{% url 'updatedossier' idOnglet idDossier %}" class="btn btn-primary" style="width:200px;">Modifier</a>
    </p>
     </br>
     <h2 class="text-center"> Ou </h2>
     </br>
     <div class="card">
  <div class="card-header">
    <h2 class="text-center">  Supprimer  </h2>
  </div>
  <div class="card-body">
    <form method="POST">
        {% csrf_token %}
        <div class="alert alert-danger" role="alert">
          Etes vous sûr de Supprimer ce dossier ?
        </div>
       <p class="text-center"> <button class="btn btn-danger" type="submit" style="width:200px;">Oui</button>
       {% if dossier.pere_id == -1 %}
        <a href="{% url 'onglet' idOnglet %}" class="btn btn-info" style="width:200px;">Non</a>
        {% else %}
        <a href="{% url 'dossier' idOnglet dossier.pere_id %}" class="btn btn-info" style="width:200px;">Non</a>
        {% endif %}
        <p>
    </form>
  </div>
</div>
  </div>
</div>


{% endblock %}

