{% extends "base.html" %}
<!--  -->
{% block content %}

</br>



<div class="row mt-4">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <form method="POST">
        {% csrf_token %}
        {% for key, value in dico.items %}
        {% if key != "id" and key != "_state" and key != "created_by_id" and key != "created_at" and key != "pere_id"%}
        <div class="form-group">
          <label for="{{key}}">{{key | capfirst}} :</label>
          <input
            type="text"
            class="form-control"
            name="{{key}}"
            value="{{value}}"
          />
        </div>
        {% endif %}
        {% endfor %}
            <button class="btn btn-primary" type="submit">Update</button>
      </form>
    </div>
  </div>
</div>


 {% endblock %}

